CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
webserver-files/.vscode/settings.json
webserver-files/*.o
webserver-files/client
webserver-files/server
webserver-files/output.cgi
webserver-files/public/
webserv-singlethreaded/*.o
webserv-singlethreaded/public/
.vscode/settings.json
*.json
/build/
webserv-singlethreaded/Makefile
